.pagination {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto 0 auto 45px;
  height: 360px;

  a,
  button {
    display: block;
    margin: 24px 0 24px 20px;
    transition: ease 0.5s;
    position: relative;
    text-decoration: none;
    color: $black;
    background: none;
    border: none;

    &:focus {
      outline: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -20px;
      margin: auto 0;

      background: $black;
      border-radius: 100px;

      width: 12px;
      height: 12px;

      transition: ease 0.5s;
    }

    &.active {
      margin-left: 60px;
      color: $green;

      &::before {
        background: $green;
        width: 50px;
        left: -60px;
      }
    }
  }
}
